<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/element.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="app">
        <el-input style="width:250px;margin-left:20px;margin-top:20px" placeholder="please input node address" prefix-icon="el-icon-search"
            v-model="address" @focus="cleanInput">
        </el-input>
        <el-button style="margin-left:5px" type="primary" icon="el-icon-search" circle @click="searchIdByAddress"></el-button>
        <p class="content" style="margin-left:20px;height:5px">Edges:</p>
        <tree-edges style="margin-left:15px" :rootid="rootid" :node-data="nodeData" :get-node="getNode" :format-size="formatSize"></tree-edges>
        <p class="content" style="margin-left:20px;height:5px;margin-top:20px">Retainers:</p>
        <tree-retainers style="margin-left:15px" :rootid="rootid" :node-data="nodeData" :get-node="getNode" :format-size="formatSize"></tree-retainers>
    </div>
</body>

<script type="text/template" id="tree-template">
    <div>
        <el-tree style="margin-top:20px" :load="loadNode" :props="props" node-key="key" lazy>
            <span class="custom-tree-node content" slot-scope="{ node, data }" disabled>
            <span v-if="!node.data.loadMore">
            <span v-if="node.data.fromEdge" :class="node.data.class">
                <strong :class="node.data.edgeClass">{{ node.data.fromEdge }}</strong>
                <small v-if="type === 'edges'" class="address">::</small>
                <strong v-if="type === 'retainers'" class="address">in</strong>
            </span>
            <span :class="node.data.class">
                <strong class="node-name">{{ node.data.name }}</strong>
                <strong class="address">{{ node.data.address }}</strong>
                <small class="additional">{{ node.data.additional }}</small>
            </span>
            </span>
            <span v-if="node.data.loadMore">
                <td><el-button plain size="small" class="more-button" @click="loadMore(node, data)">more</el-button></td>
            </span>
            </span>
        </el-tree>
    </div>
</script>

<script src="/js/library/vue.js"></script>
<script src="/js/library/element.js"></script>
<script src="/js/library/axios.min.js"></script>
<script src="/js/dashboard/component/tree_edges.js"></script>
<script src="/js/dashboard/component/tree_retainers.js"></script>
<script src="/js/dashboard/index.js"></script>

</html>