.content {
  font-family: Menlo;
}

.content strong {
  font-size: 12px;
  font-weight: 400;
}

.content small {
  font-size: 10px;
  font-weight: 300;
}

.disabled {
  opacity: 0.5
}

.property {
  color: rgb(136, 19, 145)
}

.context {
  color: rgb(28, 0, 207)
}

.node-name {
  color: rgb(48, 57, 66);
}

.closure {
  font-style: italic;
}

.node-gcroot {
  background-color: #c0eafd;
}

.node-js-reference {
  background-color: rgb(255, 255, 200);
}

.address {
  color: grey
}

.additional {
  color: grey
}

.more-button {
  font-family: Menlo;
  padding: 3px 8px;
  color: #673ab7;
  margin-top:5px;
  margin-left: -15px;
  margin-bottom: 1px;
}

.statistics{
  font-family: Menlo;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 23px;
  font-size: 15px;
}

.statistics-value{
  color: #d20d0d;
}

.tooltip-menu {
  margin: 5px 10px 5px 10px;
}

.customize-start {
  height:21px;
  outline:none;
  font-family: Menlo;
  padding: 3px 8px;
  margin-right: 15px;
  margin-left: 10px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #9a70e4;
  color: #673ab7;
}